/ Left navbar-header
.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.slimscrollsidebar
    .sidebar-head
      %h3
        %span.fa-fw.open-close
          %i.ti-menu.hidden-xs
          %i.ti-close.visible-xs
        %span.hide-menu Navigation
    %ul#side-menu.nav

      -# DASHBOARD
      %li
        = link_to "Dashboard", root_path, class: "#{params[:controller] == 'pages' ? 'waves-effect active' : 'waves-effect'}"

      - if current_user.role? :admin
        = render partial: 'layouts/permissions/admin'

      = render partial: 'layouts/permissions/settings'

      - if current_user.role? :receiving
        = render partial: 'layouts/permissions/receiving'